@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./margin-padding-width.scss";
@import "./common.scss";
@import "./layout.scss";
@import "./portfolio.scss";
@import "./button-footer.scss";
@import "aos/dist/aos.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');



#root{
    overflow: hidden;
    font-family: 'Roboto';
    letter-spacing: 1px;
}
