.jumbotron {
    background-image: url("../assets/subham-back.jpg");
    background-size: cover;
    padding: 10em 3em;
    color: #fff;
  }
.name{
    font-size: 50px;
    font-weight: 900;
    font-family: revert;
  }
.location{
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.intro{
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    text-align: center;
    margin: auto;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.about-me{
    background: #1a1a1a;
    background: linear-gradient(45deg,#1a1a1a,#000000);
    padding: 5% 5%;
    color: #fff;
}
.education{
    background: -webkit-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* Chrome 10+, Saf5.1+ */ background: -moz-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* FF3.6+ */ background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* W3C */ 
    padding: 5% 5%;
    color: #000000;
}
.border-bottom-red{
    border-bottom: 1px solid red ;
}
.height-400px{
    height: 400px;
}
.height-300px{
    height: 300px;
}
.education-card{
    border: 1px solid #d4d2d2d9;
    // background: linear-gradient(90deg, #ffffff, #f0f0f0);
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.experience{
    //background: -webkit-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* Chrome 10+, Saf5.1+ */ background: -moz-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* FF3.6+ */ background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* W3C */ 
    background: linear-gradient(to bottom,#dee1e1 10%,#ffffff 90%);
    padding: 5% 5%;
    color: #000000;
}

.skills{
     background: #ffffff;
     padding: 5% 5%;
     color: #000000;
}

.skills-text {
    font-size: 50px;
    // background: -webkit-linear-gradient(#f4000d, #0e0845) ;
    // background: -webkit-linear-gradient(#ffffff, #000000) ;
    background: linear-gradient(to bottom,#dee1e1 10%,#0000009c 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

.work-experience-text {
    font-size: 50px;
    background: -webkit-linear-gradient(#333,#ececec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .buildsupply-card{
    background: linear-gradient(
        45deg
        , #ffffff 83%, #FF8008 10%);
    border-radius: 10px;
  }

  .medibuddy-card{
    background: linear-gradient(
        45deg
        , #ffffff 83%, #f4000b 10%);
    border-radius: 10px;
  }
  .main-education-card{
      border-radius: 10px;
      background: linear-gradient(0deg,transparent, #eaeaea 74%);
  }

  .bs-text{
       font-size: 20px;
        background: -webkit-linear-gradient(45deg,#FF8008, #0f3c55);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }

  .mb-text{
    font-size: 20px;
     background: -webkit-linear-gradient(45deg, #1978f2, #f4000b);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.publications{
    background: #ffffff;
    padding: 5% 5%;
    color: #000000;
}
.certifaction-card{
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}

.certificate-logo{
    width: 25%;
}
.logo-content-width{
    width: 83%;
}
.logo-width{
    width: 17%;
}
.logo-width img{
    width: 100%;
}
@media only screen and (max-width: 428px) {
    .skills-card{
        width: 45%;
        padding: 20px;
        border: 1px solid skyblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
        margin: 10px 5px;
    }
    .height-adjust-skill-card{
        height: 80px;
    }
    .logo-content-width{
        width: 100%;
    }
    .logo-width img{
        width: 25%;
    }
    .logo-width{
        width: 100%;
    }
    .intro{
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        margin: auto;
        z-index: 2;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .name{
        font-size: 30px;
        font-weight: 900;
        font-family: revert;
      }

  }
@media only screen and (min-width: 428px) and (max-width: 600px) {
    .skills-card{
        width: 45%;
        padding: 20px;
        border: 1px solid skyblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
        margin: 10px 5px;
    }
    .height-adjust-skill-card{
        height: 130px;
    }
 .logo-content-width{
        width: 100%;
    }
    .logo-width img{
        width: 25%;
    }
    .logo-width{
        width: 100%;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 768px){
    .skills-card{
        width: 40%;
        padding: 20px;
        border: 1px solid skyblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
        margin: 10px 5px;
    }
    .height-adjust-skill-card{
        height: 130px;
    }
    .logo-content-width{
        width: 100%;
    }
    .logo-width img{
        width: 25%;
    }
    .logo-width{
        width: 100%;
    }
  }
  @media only screen and (min-width: 768px)  and (max-width: 992px) {
    .skills-card{
        width: 30%;
        padding: 20px;
        border: 1px solid skyblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
        margin: 10px 5px;
    }
    .height-adjust-skill-card{
        height: 175px;
    }
  }

  @media only screen and (min-width: 992px) {
    .skills-card{
        width: 20%;
        padding: 20px;
        border: 1px solid skyblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
        margin: 20px;
    }
    .height-adjust-skill-card{
        height: 130px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .skills-card{
        width: 20%;
        padding: 20px;
        border: 1px solid skyblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
        margin: 20px;
    }
    .height-adjust-skill-card{
        height: 175px;
    }
  }
  .contact-card{
    background : #000000;
    padding: 5% 5%;
    color: #ffffff;
  }