.jumbotron {
    background-image: url("../assets/subham-link-background4.webp");
    background-size: cover;
    padding: 10em 3em;
}
.exp-items{
    color:gray;
    font-size: 15px;
    padding: 5px;
}
.resume{
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 999999;
    color: #d0d0d0;
    cursor: pointer;
    // animation: resume-animate 4s infinite ease-in-out;
}

.bg-linear-black{
    background-image: linear-gradient(to bottom, transparent 10%, black 90%);
    background-size: cover;
    background-position: center;
    padding: 35px 10px 10px 10px;
}
.name-anchor{
    color: white;
    text-decoration: underline;
}
.name-anchor:hover{
    color: white;
    text-decoration: underline;
}

.academia-main{
    background: #fafafa;
    padding: 2px 2px;
    border-radius: 2px;
    margin: 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


@keyframes resume-animate {
    0%{
        background-color: #ff8080;
        color: #000;
        border: 1px solid #d0d0d0;
    }
    50%{
        background-color: #fff;
        color: #000;
        border: 1px solid #000000;
    }
    100%{
        background-color:#ff8080;
        color: #000;
        border: 1px solid #d0d0d0;
    }
}


.name{
    font-size: 50px;
    font-weight: 900;
   }
@keyframes nameanimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.location{
    font-size: 30px;
    font-weight: 900;
}
.education-image-div{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 450px;
}
.bg-rkm{
    background-image: url("../assets/rkm-1.png");
}
.bg-nita{
    background-image: url("../assets/nit-cse.jpg");
}


.intro{
    color: white;
    font-weight: bold;
    // border: 3px solid #f1f1f1;
    text-align: center;
    margin: auto;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    // -webkit-box-reflect: below 10px linear-gradient(transparent 75%, #2929297a)
}

@keyframes animateSubham{
    0% , 90% ,100%{
        width: 0%;
    }
    30%, 60%{
        width: 100%;
    }
}
.about-me{
    background: #1a1a1a;
    background: linear-gradient(to bottom, #000000, #1a1a1a);
    padding: 5% 5%;
    color: #fff;
}
.education{
    background: -webkit-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* Chrome 10+, Saf5.1+ */ background: -moz-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* FF3.6+ */ background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* W3C */ 
    padding: 5% 5%;
    color: #000000;
}
.border-bottom-red{
    border-bottom: 1px solid red ;
    border-radius: 15px;
}
.border-bottom-red-animate{
    border-bottom: 2px solid red ;
    border-radius: 15px;
    transition: 0.5s;
    width: 50%;
    animation: bordersetup 2.5s linear;
   
}
@keyframes bordersetup{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
.height-rkm-text{
    min-height: 340px;
}
.height-300px{
    height: 300px;
}
.education-card{
    border: 1px solid #d4d2d2d9;
    // background: linear-gradient(90deg, #ffffff, #f0f0f0);
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}

.experience{
    //background: -webkit-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* Chrome 10+, Saf5.1+ */ background: -moz-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* FF3.6+ */ background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* W3C */ 
    background: linear-gradient(to bottom,#dee1e1 10%,#ffffff 90%);
    padding: 5% 5%;
    color: #000000;
}

.skills{
     background: #ffffff;
     padding: 5% 5%;
     color: #000000;
}

.skills-text {
    font-size: 35px;
    background: -webkit-linear-gradient(45deg, #c0ff00,#0c848a,#00ff7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  

.work-experience-text {
    font-size: 35px;
    // background: -webkit-linear-gradient(#000000,#656565);
    background: -webkit-linear-gradient(45deg, red,#000000,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  .buildsupply-card{
    background: linear-gradient(
        45deg
        , #ffffff 93%, #FF8008 7%);
    border-radius: 10px;
  }

  .medibuddy-card{
    background: linear-gradient(45deg, #ffffff 95%, #f4000b 5%);
    border-radius: 10px;
  }
  .travelopia-card{
    background: linear-gradient(
        45deg
        , #ffffff 93%, #1a5574 7%);
    border-radius: 10px;
  }
  .iit-card{
    background: linear-gradient(
        45deg
        , #ffffff 93%, #291973 7%);
    border-radius: 10px;
  }
  
  .main-education-card{
      border-radius: 10px;
  }

  .bs-text{
    font-size: 15px;
        background: -webkit-linear-gradient(45deg,#FF8008, #0f3c55);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }
  .mb-text{
     font-size: 15px;
     background: -webkit-linear-gradient(right, #1978f2, #f4000b);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.travelopia-text{
    font-size: 15px;
    background: -webkit-linear-gradient(45deg, #307ea5, #1a5574);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.iit-text{
    font-size: 15px;
    background: -webkit-linear-gradient(45deg, #291973, #090320);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.publications{
    background: #ffffff;
    padding: 5% 5%;
    color: #000000;
}
.certifaction-card{
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}

.certificate-logo{
    width: 25%;
}
.logo-content-width{
    width: 83%;
}
.logo-width{
    width: 17%;
}
.logo-width img{
    width: 100%;
}
@media only screen and (max-width: 428px) {
    .skills-card{
        width: 45%;
        padding: 20px;
        border: 1px solid skyblue;
        border-radius: 10px;
        margin: 10px 5px;
    }
    .typing-custom{
        word-spacing: 5px;
        color: #ffe4c4;
        text-shadow : 1px 1px 20px #ffe4c4;
    }
    .height-adjust-skill-card{
        height: 80px;
    }
    .logo-content-width{
        width: 100%;
    }
    .logo-width img{
        width: 25%;
    }
    .logo-width{
        width: 100%;
    }
      .work-experience-text {
        font-size: 20px;
        // background: -webkit-linear-gradient(#000000,#656565);
        background: -webkit-linear-gradient(45deg, red,#000000,blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
      }
      .responsive-text{
        font-size: 13px;
        word-spacing: 0px;
    }
    .height-rkm-text{
        height: 300px;
    }
    .skills-text {
        font-size: 30px;
      }

    .main-jumbo-div{
        background: #000000;
    }
    .jumbotron {
        background-image: url("../assets/subham-link-background4.webp");
        background-size: cover;
        padding-top: 20em;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        color: #fff;
    }
    .name{
        font-size: 25px;
        font-weight: 900;
    }
    .intro{
        color: white;
        font-weight: bold;
        text-align: center;
        margin: auto;
        z-index: 2;
        width: 80%;
        padding: 20px 0px 20px 0px;
        text-align: center;
        // -webkit-box-reflect: below 10px linear-gradient(transparent 75%, #2929297a)
    }

  }
@media only screen and (min-width: 428px) and (max-width: 600px) {
    .skills-card{
        width: 45%;
        padding: 20px;
        border: 1px solid skyblue;
        border-radius: 10px;
        margin: 10px 5px;
    }
    .height-adjust-skill-card{
        height: 130px;
    }
 .logo-content-width{
        width: 100%;
    }
    .logo-width img{
        width: 25%;
    }
    .logo-width{
        width: 100%;
    }
    .typing-custom{
        word-spacing: 5px;
        color: #ffe4c4;
        text-shadow : 1px 1px 20px #ffe4c4;
    }
    .work-experience-text {
        font-size: 25px;
        // background: -webkit-linear-gradient(#000000,#656565);
        background: -webkit-linear-gradient(45deg, red,#000000,blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
      }
      .responsive-text{
        font-size: 13px;
        word-spacing: 0px;
    }
    .height-rkm-text{
        height: 300px;
    }
    .skills-text {
        font-size: 30px;
      }
      .main-jumbo-div{
        background: #000000;
    }
    .jumbotron {
        background-image: url("../assets/subham-link-background4.webp");
        background-size: cover;
        padding-top: 20em;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        color: #fff;
    }
    .name{
        font-size: 25px;
        font-weight: 900;
    }
    .intro{
        color: white;
        font-weight: bold;
        border: none;
        text-align: center;
        margin: auto;
        z-index: 2;
        width: 80%;
        padding: 20px 0px 10px 0px;
        text-align: center;
        // -webkit-box-reflect: below 10px linear-gradient(transparent 75%, #2929297a)
    }

  }
  @media only screen and (min-width: 600px) and (max-width: 768px){
    .skills-card{
        width: 40%;
        padding: 20px;
        border: 1px solid skyblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
        margin: 10px 5px;
    }
    .height-adjust-skill-card{
        height: 130px;
    }
    .logo-content-width{
        width: 100%;
    }
    .logo-width img{
        width: 25%;
    }
    .logo-width{
        width: 100%;
    }
    .typing-custom{
        word-spacing: 5px;
        color: turquoise;
        text-shadow : 1px 1px 20px #00ffdf;
    }
    .work-experience-text {
        font-size:30px;
        // background: -webkit-linear-gradient(#000000,#656565);
        background: -webkit-linear-gradient(45deg, red,#000000,blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
      }
      .responsive-text{
        font-size: 15px;
    }
    .height-rkm-text{
        height: 300px;
    }
    .skills-text {
        font-size: 30px;
      }

      .main-jumbo-div{
        background: #000000;
    }
    .jumbotron {
        background-image: url("../assets/subham-link-background4.webp");
        background-size: cover;
        padding-top: 20em;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        color: #fff;
    }
    .name{
        font-size: 25px;
        font-weight: 900;
    }
    .intro{
        color: white;
        font-weight: bold;
        text-align: center;
        margin: auto;
        z-index: 2;
        width: 80%;
        padding: 20px 0px 20px 0px;
        text-align: center;
        // -webkit-box-reflect: below 10px linear-gradient(transparent 75%, #2929297a)
    }

  }
  @media only screen and (min-width: 768px)  and (max-width: 992px) {
    .skills-card{
        width: 30%;
        padding: 20px;
        border: 1px solid skyblue;
        border-radius: 10px;
        margin: 10px 5px;
    }
    .height-adjust-skill-card{
        height: 175px;
    }
    .typing-custom{
        word-spacing: 5px;
        color: turquoise;
        text-shadow : 1px 1px 20px #00ffdf
    }
    .work-experience-text {
        font-size: 30px;
        // background: -webkit-linear-gradient(#000000,#656565);
        background: -webkit-linear-gradient(45deg, red,#000000,blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
      }
      .responsive-text{
        font-size: 20px;
    }

    .main-jumbo-div{
        background: #000000;
    }
    .jumbotron {
        background-image: url("../assets/subham-link-background4.webp");
        background-size: cover;
        padding: 10em 3em;
        color: #fff;
    }
    .name{
        font-size: 28px;
        font-weight: 900;
    }
    .intro{
        color: white;
        font-weight: bold;
        text-align: center;
        margin: auto;
        z-index: 2;
        width: 80%;
        text-align: center;
        // -webkit-box-reflect: below 10px linear-gradient(transparent 75%, #2929297a)
    }
  }

  @media only screen and (min-width: 992px) {
    .skills-card{
        width: 20%;
        padding: 20px;
        border: 1px solid skyblue;
        border-radius: 10px;
        margin: 20px;
    }
    .height-adjust-skill-card{
        height: 130px;
    }
    .height-marks{
        height: 105px;

    }
    .typing-custom{
        word-spacing: 5px;
        color: turquoise;
        text-shadow : 1px 1px 20px #00ffdf
    }
    .responsive-text{
        font-size: 20px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .skills-card{
        width: 20%;
        padding: 20px;
        border: 1px solid skyblue;
        border-radius: 10px;
        margin: 20px;
    }
    .height-adjust-skill-card{
        height: 175px;
    }
    
    .typing-custom{
        word-spacing: 5px;
        color: turquoise;
        text-shadow : 1px 1px 20px #00ffdf
    }
    .responsive-text{
        font-size: 20px;
    }
  }
  .contact-card{
    background : #000000;
    padding: 5% 5%;
    color: #ffffff;
  }
  .suman-sir{
    color: #08478b;
    text-decoration: underline;
  }

  .letter-S-name{
    font-weight: 900;
    font-size: 60px;
    color: turquoise;
    text-shadow : 1px 1px 20px #00ffdf
}
.image-border-shadow{
    border-radius: 2px;
}
